.container{
  box-sizing: border-box;
  height: 420px;
  background-color: #F1F3F5
}
.carousel{
  display: flex;
  justify-content: center;
}
.background{
  /* height: 700px;
  width: 700px; */
  padding: 20px;
  background-color: #F1F3F5
}

.mat-card.display{
  height: 374px;
  overflow: overlay;
}


.image_avatar{
  height: 37px;
  width: 50px;
  border-radius: 22px;

}

.row_padding{
  padding: 5px!important;
}

.card_style{
  height: 300px;
  width: 470px;
  padding: 20px;
  background-color: rgb(56, 54, 54);
  color: white;
  margin:20px;
}

.image{
  border-radius: 88px;
  height: 84px;
  display: block;
}
.imageUrl{
  width: 265px;
  height: 128px;
  display: block;
  margin-left: 112px;
}

.tool_bar{
  height: 200px;
}

.chart-container {
  width: 100%;
 
}

.mat-card.card_dash {
  padding: 22px;
  font-size: 13px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.mat-chip {
  font-size: 12px;
}


.mat-chip.mat-standard-chip.nav_bar {
  background-color:#3f51b5;
  color:#f8f9fa;
}

.swap{
  margin-top: -60px!important;
}