
<div class="container">
<mat-toolbar class="tool_bar" color="primary">
  <mat-toolbar-row>
    <span>
      <!--For modern browsers-->
<i class="material-icons">
    where_to_vote
 </i>  Site Dashboard 
    </span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span><i class="material-icons">
        notification_important
      </i>Alex Deo</span>
    
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>
        <mat-chip-list >
            <mat-chip class="nav_bar">Home</mat-chip>
            <mat-chip class="nav_bar">My Projects</mat-chip>
            <mat-chip class="nav_bar">Revenue</mat-chip>
            <mat-chip class="nav_bar">Risks</mat-chip>
            <mat-chip class="nav_bar">Settings</mat-chip>
        </mat-chip-list>
    </span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="row swap">
  <div class="col-8">
      <mat-card class="card_dash">
        <div class="row">
          <div class="col-3">
            <br>
            <p>Power Generation</p>
            <h3>345.45KW</h3>
            <p>+42 since last week</p>
            <br>
            <mat-chip-list>
                <mat-chip>3 HIGH IMPACT RISK</mat-chip>
              </mat-chip-list>
          </div>
          <div class="col-9 chart-container">
              <canvas id="componentsChart" width="500" height="185"></canvas>
          </div>
        </div>
      </mat-card>
  </div>
  <div class="col-4 ">
      <mat-card class="card_dash">
        <div class="row">
          <div class="col-5">
<span>RANK</span>

    <mat-chip-list>
        <mat-chip class="nav_bar">  <i class="material-icons">
            star_border
            </i> 6</mat-chip>
      </mat-chip-list>

   <p>You're in top 40%</p> 
          </div>
          <div class="col-7">
            <span>PLANTS WITH HIGH O/P</span>
            <mat-chip-list>
                <mat-chip class="nav_bar">   <i class="material-icons">
                    code
                    </i> 3</mat-chip>
              </mat-chip-list>
              <p>10 in this month</p>  
            </div>
        </div>
        <hr>
     <p> TOP CATEGORIES</p>  
     <mat-chip-list>
        <mat-chip>Power</mat-chip>
        <mat-chip>Renewable</mat-chip>
      </mat-chip-list>
      </mat-card>
  </div>
</div>
<div class="row">
  <div class="col">
<p>Suggested Projects</p>
  </div>
  <div class="col text-right">
    <p>VIEW ALL PROJECTS<i class="material-icons">
keyboard_arrow_right
</i></p>
    </div>
</div>


<div class="carousel">  
<carousel (activeSlideChange)="log($event)" [interval]="false">
    <mat-card class="card_style">
    <slide *ngFor="let data of user_details">
      <div class="row">
        <div class="col-4">
            <img [src]="data.thumbnailUrl" class="image" alt="">
        </div>
        <div class="col-4 text-right">
          <h6>ID:{{data.id}}</h6>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <p>Title : {{data.title}}</p>
          </div>
        </div>
        <div class="row">
          <img [src]="data.url" class="imageUrl" alt="">
        </div>
      </div>
    </slide>
  </mat-card>
  </carousel>
</div>


<div class="background">
  <br>
  <div class="row row_padding">
    <div class="col-8">
      <div class="row">
        <div class="col-8">
          <h6>Activity</h6>
        </div>
        <div class="col-4 text-right">
          VIEW ALL ACTIVITY
        </div>
    </div>
    </div>
    <div class="col-4 ">
      <div class="row">
        <div class="col-8">
          <h6>Top Performers</h6>
        </div>
        <div class="col-4 text-right">
          VIEW ALL
        </div>
    </div>
    </div>
  </div>
  <div class="row">
<div class="col-8">
  <mat-card class="display">
    <div class="row">
      <div class="col-12">RECENT</div>
    </div>
    <div class="row" style="padding: 8px;" *ngFor="let item of user_info">
      <div class="col-3">
        <img [src]="item.avatar" class="image_avatar" alt="">
      </div>
      <div class="col-6">  <h6>{{item.first_name}} {{ item.last_name}}</h6> 
      <div class="row">
        <div class="col-12">
          <p>Approve the procurement of turbine part</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-chip-list>
            <mat-chip style="color: blue;">Approve</mat-chip>
          </mat-chip-list>
        </div>
        <div class="col-6">
          <mat-chip-list>
            <mat-chip style="color: red;">Reject</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
      <div class="col-3 text-right">1 hour ago<h6></h6></div>  
      <hr> 
    </div>
    
  </mat-card>
</div>
<div class="col-4">
  <mat-card>
    <div class="row">
      <div class="col-3">RANKINGS</div>
      <div class="col-5 text-right">This month</div>
      <div class="col-4 text-right">All time</div>
    </div>
    <div class="row" style="padding: 8px;"  *ngFor="let item of user_info">
      <div class="col-3">
        <img [src]="item.avatar" class="image_avatar" alt="">
      </div>  
      <div class="col-9">
        <h6>{{item.first_name}} {{ item.last_name}}  (Site 1)</h6>
      </div>
     </div>
  </mat-card>
</div>
  </div>
</div>
<br>

